.h1Aboutme {
    text-align: center;
    font-size: 3rem;
}

.aboutMe {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.imgAbout {
    margin: 1.25rem;
    width: 50%;
    max-width: 37.5rem;
    max-height: 56.25rem;
}

.parrafoAbout {
    width: 50%;
    max-width: 37.5rem;
    font-size: 1.25rem;
    height: auto;
    line-height: 1.4;
    padding: .625rem;
    p{
        margin-top: .625rem;
        margin-bottom: .625rem;
    }
}